:root {
  --light-gray-blue1: hsl(210, 60%, 98%);
  --light-gray-blue2: hsl(211, 68%, 94%);
  --light-gray-blue3: hsl(205, 33%, 90%);
  --gray-blue: hsl(219, 14%, 63%);
  --dark-gray-blue: hsl(219, 12%, 42%);
  --dark-blue: hsl(224, 21%, 14%);
  --accent-red: hsl(1, 90%, 64%);
  --accent-blue: hsl(219, 85%, 26%);
  --white: hsl(0, 0%, 100%);
}

/***********/
/* Section */
/***********/

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  /* grid-template-rows: 1fr auto; */
  justify-items: center;
  align-items: center;
  /* background-image: url('../assets/images/'); */
  font-familiy: 'Plus Jakarta Sans', sans-serif;
}

.fm-byline {
  font-size: 0.75rem;
  letter-spacing: 1px;
  text-align: center;
}

.fm-byline,
.fm-byline a {
}
