:root {
  --light-gray-blue1: hsl(210, 60%, 98%);
  --light-gray-blue2: hsl(211, 68%, 94%);
  --light-gray-blue3: hsl(205, 33%, 90%);
  --gray-blue: hsl(219, 14%, 63%);
  --dark-gray-blue: hsl(219, 12%, 42%);
  --dark-blue: hsl(224, 21%, 14%);
  --accent-red: hsl(1, 90%, 64%);
  --accent-blue: hsl(219, 85%, 26%);
  --white: hsl(0, 0%, 100%);
}

/***********/
/* Layout */
/***********/

body {
  display: grid;
  justify-items: center;
  align-items: center;
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: var(--light-gray-blue1);
}

.container {
  min-width: 375px;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  justify-items: center;
  align-items: center;
}

main {
  background-color: var(--white);
  padding: 1.5rem 1rem 1.75rem 1rem;
  margin: 2rem 0;
  width: 100%;
}

@media only screen and (min-width: 800px) {
  .container {
    width: 730px;
  }

  main {
    padding: 2rem;
    border-radius: 1rem;
  }
}

/***********************/
/* Notifications Status */
/***********************/

.notifications-status-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.notification-count {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.notification-count h2 {
  font-size: 1.25rem;
  font-weight: 800;
  color: var(--dark-blue);
}

.notification-count span {
  background-color: var(--accent-blue);
  color: var(--white);
  font-size: 1rem;
  font-weight: 700;
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
}

.notification-status p {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--dark-gray-blue);
}

@media only screen and (min-width: 800px) {
  .notification-count h2 {
    font-size: 1.5rem;
  }

  .notification-status p {
    font-size: 1rem;
  }
}

/***********************/
/* Notifications Section */
/***********************/

.notifications-section {
  background-color: white;
}

.notifications-section ul {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.notification {
  display: inline-block;
  padding: 1rem 0 1rem 1rem;
}

.notification.unread {
  background-color: var(--light-gray-blue1);
  border-radius: 0.5rem;
}

.notification-wrapper {
  display: flex;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
}

.notification-img img {
  width: 39px;
}

.notification-content p {
  font-size: 0.875rem;
}

.notification-content p:first-of-type {
  color: var(--dark-blue);
  font-weight: 800;
}

.notification-content p:last-of-type {
  color: var(--gray-blue);
  font-weight: 500;
}

.notification.unread .notification-content p:first-of-type::after {
  content: '';
  display: inline-block;
  margin-left: 0.5rem;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: var(--accent-red);
}

@media only screen and (min-width: 800px) {
  .notification {
    padding: 1.125rem 0 1.125rem 1.25rem;
  }

  .notification-img img {
    width: 45px;
  }

  .notification-content p {
    font-size: 1rem;
  }
}

/***********/
/* Footer */
/***********/

.fm-byline-row {
  padding-bottom: 2rem;
}

.fm-byline {
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
}

.fm-byline,
.fm-byline a {
  color: var(--dark-blue);
}
