<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"
    />
    <!-- Displays site properly based on user's device -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <meta
      name="author"
      content="TechTinu"
    />
    <meta
      name="description"
      content="Solution to the Notifications Page challenge on Frontend Mentor."
    />
    <meta
      name="theme-color"
      content="#F7FAFD"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="assets/images/favicon-32x32.png"
    />
    <!-- Google Fonts -->
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
      rel="stylesheet"
    />
    <!-- Project Stylesheets -->
    <link
      rel="stylesheet"
      href="css/reset.css"
    />
    <link
      rel="stylesheet"
      href="css/app.css"
    />
    <link
      rel="stylesheet"
      href="css/a11y.css"
    />
    <title>Notifications Page | Frontend Mentor</title>
  </head>
  <body>
    <div id="app">
      <div class="site-container">
        <header>
          <a
            href="#main"
            class="skip"
            >Skip to main content</a
          >
          <h1 class="sr-only">
            Notifications Page - A Frontend Mentor Project
          </h1>
        </header>
        <main id="main">
          <!-- Notification Count + Read All -->
          <section class="notifications-status-section">
            <div class="notification-count">
              <h2>Notifications</h2>
              <span>{{unreadCount}}</span>
            </div>
            <div
              class="notification-status"
              v-if="unreadCount > 0"
            >
              <button @click="markAllMsgsAsRead()">Mark all as read</button>
            </div>
          </section>

          <!-- Notifications List -->
          <section class="notifications-list-section">
            <div
              class="notifications-list"
              role="list"
            >
              <div
                v-for="msg,index in notifications"
                class="notification-item"
                @click="markMsgAsRead(index)"
                :class="{unread : msg.statusUnread}"
                tabindex="0"
                role="listitem"
                :key="msg.msgId"
              >
                <div
                  class="notification-wrapper"
                  :class="{column: msg.msgType === 'comment' && msg.msgData.contextType === 'media'}"
                >
                  <div class="notification-body">
                    <div class="notification-user-img">
                      <img
                        :src="msg.msgData.userImg"
                        :alt="'User ' + msg.msgData.user"
                        width="50px"
                        height="50px"
                      />
                    </div>
                    <div class="notification-content">
                      <div>
                        <span class="username">{{msg.msgData.user}}</span>
                        <span class="description"
                          >{{msg.msgData.action}}
                          <span
                            v-if="msg.msgType !== 'message' && (msg.msgType !== 'comment' || msg.msgData.contextType !== 'media')"
                            >{{msg.msgData.context}}</span
                          >
                        </span>
                      </div>
                      <p class="time">{{msg.time}} ago</p>
                    </div>
                  </div>
                  <div
                    class="notification-nested-content"
                    v-if="msg.msgType === 'message'"
                  >
                    <p>{{msg.msgData.context}}</p>
                  </div>
                  <div
                    class="notification-nested-content"
                    v-if="msg.msgType === 'comment' && msg.msgData.contextType === 'media'"
                  >
                    <img
                      :src="msg.msgData.context"
                      alt="Female chess player"
                    />
                  </div>
                </div>
              </div>
            </div>
          </section>
        </main>
        <footer class="fm-byline-row">
          <p class="fm-byline">
            Challenge by
            <a
              href=""
              target="_blank"
              >Frontend Mentor</a
            >
          </p>
          <p class="fm-byline">
            Coded by
            <a
              href=""
              target="_blank"
              >TechTinu</a
            >
          </p>
        </footer>
      </div>
    </div>

    <!-- Scripts -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script
      src="js/app.js"
      type="module"
    ></script>
  </body>
</html>
